@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0 !important;
  padding-bottom: 20px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: -webkit-fill-available;
  background:linear-gradient(rgb(0, 0, 0),rgb(232, 215, 238))
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.react-multi-carousel-dot-list {
  bottom:16px !important;
}

@media screen and (max-width: 1069px) {
  body{
    height: 100vh;
  }
  .react-multi-carousel-dot-list {
    bottom:0px !important;
  }
  .showMore{
    top: 10px;
  }
}